.no-data {
    font-size: 1.2em;
    text-align: center;
    color: #9c9898;
    padding: 10px;
}

.meetings-scheduled-container {
	min-height: 200px;
}

.meetings-scheduled-container .main-body {
	padding: 5px 5px 0px 5px;
}

.meetings-scheduled-container .list-group {
	max-height: 230px; 
	overflow-y: auto;
}

.meetings-scheduled-container .panel-title {
	font-size: 1.3em;
}

.meetings-scheduled-container .panel-footer .month,
.meetings-scheduled-container .panel-body .count{
	height: 100%; 
	width:33.33%;
	display: inline-block; 
	text-align: center; 
	padding: 7px;
}

.meetings-scheduled-container .panel-footer .month {
	font-size: 1.2em;
}

.meetings-scheduled-container .panel-body .count{
	font-size: 1.7em;
}

.loading-spinner{
	top: 10%;
}