.edit-comment-input {
	width: 100% !important;
	height: 45px;
}

.comment-item.editable:hover {
	background-color: #e4e7ec;
}

.comment-types span{
	cursor: pointer;
}

.comment-types .badge.selected {
	background-color: #337ab7;
}

.edit-error {
	color: red;
}