<div>   
  <h2> My Tasks </h2>
    <div class="filter-block">
        <input class="filter" placeholder="Filter..." type="text" (keyup)="onFilterChange($event)"/>
    </div>
     <!--<div class="assign">
         <ng2-completer class="filter" placeholder="Assign To"  [(ngModel)]="searchStr" (selected)="onAssignSelected($event)" [dataService]="dataService" [minSearchLength]="0" ></ng2-completer>         
        <button class="btn btn-primary btn-sm" (click)="assignTo()">Assign</button>
    </div>-->
    <div class="assign">
        Select BDM: <app-bdm-filter [showAllOption]="false" [selectedBDM]="bdmSelected" (changed)="bdmSelection($event)"></app-bdm-filter>
        <button class="btn btn-primary btn-sm" (click)="assignToBdm()">Assign to BDM</button>
    </div>



    <ag-grid-angular #agGrid style="width: 100%; height: 400px;" class="ag-fresh"
                 [gridOptions]="gridOptions">
    </ag-grid-angular>
</div>
<div id="myModal" class="modal fade" role="dialog">
<app-popup [selectedClient]="selectedClient" (clientUpdated)="getMyTasks()"></app-popup>
</div>
