.filter {
    margin-bottom: 10px;
    display: inline-block;
}

.assign {
    float: right;
}

.filter-block {
    display: inline-block;
}
app-bdm-filter {
   	display: inline-block;
}

.ag-cell a {
	color: #1e568e;
}