<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "http://localhost:3000/clients/upload"
     method    =  "post"
>
<input type="file" name="file" />Upload
<input type="submit" value="Upload" name="submit">
</form>



<h2 class="page-header">Upload Xls</h2>
<form (submit)="onUploadSubmit()">
  <div class="form-group">
    <label>Name</label>
    
    <input type="file" name="file"  [(ngModel)]="file" class="form-control" accept=".xls,.xlsx"/>
  </div> 
  
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
