/* You can add global styles to this file, and also import other style files */
form.ng-touched .ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}

.flash-messages {
    position: absolute;
    width: 100%;
}

.flash-messages .flash-message{
  padding: 8px;
  text-align: center;
  margin-bottom:5px;
}