/* You can add global styles to this file, and also import other style files */
form.ng-touched .ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}

.flash-messages {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.flash-messages .flash-message{
  padding: 8px;
  text-align: center;
  margin-bottom:5px;
}

.panel.panel-default,
.pager li>a, 
.pager li>span,
.nav-pills li.active>a, 
.nav-pills li>a:hover,
.form-control
 {
	border-color: rgba(28, 67, 125, 0.23) !important;
}

.pager li>a {
	background-color: #337ab7 !important;
	color: #ffffff  !important;
	cursor: pointer;
}

.pager li>a:hover, 
.pager li>a:focus {
    background-color: rgba(51, 122, 183, 0.8) !important;
}

.panel-default .panel-heading{
	background-color: #2d6fa9 !important;	
}

.panel-default .panel-footer {
  color: #6e6c53 !important;
  background-color: #bccbde !important;
  border-top: 1px solid #90b6cc!important;
}


.panel-default .panel-heading .panel-title{
	font-size: 1.3em !important;
	color: #ffffff !important;	
}

.nav-pills>li {
    cursor: pointer !important;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
    color: #ffffff !important;
    cursor: default;
    background-color: #337ab7 !important;;
}

.client-status{
  border-radius: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.client-status.legends{
  margin-left: 10px;
  width: 8px;
  height: 8px;
}


.client-status.meetingFixed{
  background-color: #2da206;
}

.client-status.callBack{
  background-color: #ffeb3b;
}

.client-status.notInterested{
  background-color: #d3171f;
}

.client-status.followUp{
  background-color: #2196f3;
}

.client-status.emailSent{
  background-color: #cc00ff;
}

/*
.form-control,
.pager li>a,
.nav-pills li.active>a, 
.nav-pills li>a:hover {
	border-color: rgba(94, 172, 235, 0.3) !important;
}

.pager li>a {
	background-color: rgba(17, 133, 226, 0.68) !important;
	color: #fff !important; 
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
	color: #fff !important;
	background-color: rgba(17, 133, 226, 0.68) !important;
}

.nav-pills li.active>a, 
.nav-pills li>a:hover {
    border-color: rgb(94, 172, 235)  !important;
}

.pager li>a:hover, 
.pager li>a:focus {
    background-color: rgba(94, 172, 235, 0.5)  !important;
}

.nav>li>a:hover, 
.nav>li>a:focus {
    background-color: rgba(94, 172, 235, 0.5)  !important;
}*/