<div class="row">
	<div class="col-xs-8">
		<app-calls-meeting-report></app-calls-meeting-report>
	</div>
	<div class="col-xs-4">
		<!-- todo: create component -->
		<div class="well" style="min-height: 200px">	
			<app-loading-spinner [hide]="!isLoading"></app-loading-spinner>
			<h4>{{ 'Meetings Schedule (This Month)' }}</h4>
		</div>
		<div class="well" style="min-height: 200px">	
			<app-loading-spinner [hide]="!isLoading"></app-loading-spinner>
			<h4>{{ 'Top Callers' }}</h4>
		</div>
	</div>
</div>