<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
		<div class="col-xs-4">
			<div class="bdm-filter-container">
				BDM: <app-bdm-filter cssClass="input-group-sm" [showAllOption]="false" [items]="bdms" [selectedItem]="bdmSelected" (changed)="bdmSelection($event)"></app-bdm-filter>
			</div>
		</div>
		<!-- this will go into its own component -->
		<div class="col-xs-8">
			<app-date-filter  (filterDates)="sendDates($event)"></app-date-filter>
		
		</div>
	</div>
  </div>
</div>
<div class="row">
	<div class="col-xs-8">
		<app-calls-meeting-report [filter]= 'filterDates' [selectedBdms]= 'bdmSelected'></app-calls-meeting-report>
	</div>
	<div class="col-xs-4">
		<app-meetings-scheduled></app-meetings-scheduled>
		<app-top-callers></app-top-callers>
	</div>
</div>
