<h2>
  Team Data
</h2>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
		<div class="col-xs-6"><app-bdm-filter></app-bdm-filter></div>
		<!-- this will go into its own component -->
		<div class="col-xs-6">
			<app-date-filter  (filterDates)="sendDates($event)"></app-date-filter>
		
		</div>
	</div>
  </div>
</div>
<div class="row">
	<div class="col-xs-8">
		<app-calls-meeting-report [filter]= 'filterDates'></app-calls-meeting-report>
	</div>
	<div class="col-xs-4">
		<app-meetings-scheduled></app-meetings-scheduled>
		<app-top-callers></app-top-callers>
	</div>
</div>
