<div class="comments-title-container">
	<h4 class="comments-title">Comments</h4>
</div>

<div class="row comments-container">
	<div class="col-sm-12 comment-input-container">
	   	<ul class="nav nav-pills comment-type-container">
		  <li role="presentation comment-type" [ngClass]="{'active': newComment.commentType === type.type}" (click)="newComment.commentType = type.type; type.active = true;" *ngFor="let type of commentTypes"><a><span class="glyphicon" [ngClass]="type.cssClass"> {{ type.type }}</span></a></li>
		  <ul [ngClass]="{'call-sub-menu nav nav-pills collapse pull-right': true, 'in': newComment.commentType === 'Call'}">
	        <li>
	        	<input type="button" class="btn btn-xs shortcut-button" value="Voicemail" [disabled]="!selectedClient.bdm || !selectedClient.bdm.email" (click)="addComment('voicemail')">
        	</li>
	      </ul>
		</ul>

		<textarea class="form-control comment-input" rows="3" #comment [(ngModel)]="newComment.message" name="comment"></textarea>
		<input type="button" class="btn btn-primary btn-xs post-button" value="Post" [disabled]="comment.value.length === 0 || !selectedClient.bdm || !selectedClient.bdm.email" (click)="addComment()">
		<span *ngIf="!selectedClient.bdm || !selectedClient.bdm.email">
			<span [ngClass]="'error-notification'">
				<span class="glyphicon glyphicon-alert"></span> Please select your BDM.
			</span>
		</span>
		<span *ngIf="notification">
			<span [ngClass]="{ 'error-notification': notification.type === 'Error'}">
				<span class="glyphicon glyphicon-alert"></span> {{ notification.message }}
			</span>
		</span>
 	</div>

 	<app-comment-list [comments]="comments"></app-comment-list>
	
</div>