
<!-- Start - New Client to Add PopUp -->
<!-- Modal -->
<div class="modal-dialog modal-lg" role="dialog">
<!-- Modal content-->
<div class="modal-content">

  <div class="modal-header">
    <span type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal"></span>
    <h4 class="modal-title">Add New Client</h4>
  </div>

    <form (submit)="onClientSubmit()">
      <div class="modal-body">

              <div class="row">
                    <div class="col-md-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">RainKing Contact ID</label>
                            <input type="text" [(ngModel)]="rainKingContactId" name="name" class="form-control">
                        </div> 
                    </div>

                    <div class="col-md-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Salutation</label>
                            <input type="text" [(ngModel)]="salutation" name="name"  class="form-control">
                        </div> 

                    </div>

                    <div class="col-md-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">First Name</label>
                            <input type="text" [(ngModel)]="firstName" name="name" class="form-control">
                        </div> 
                    </div>

                    <div class="col-md-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Last Name</label>
                             <input type="text" [(ngModel)]="lastName" name="name" class="form-control">
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Nickname</label>
                            <input type="text" [(ngModel)]="nickname" name="name" class="form-control">
                        </div> 
                    </div>

                    <div class="col-md-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">eTouch SL</label>
                            <input type="text" [(ngModel)]="etouchSl" name="name" class="form-control">
                        </div> 
                    </div>

                    <div class="col-md-3">
                       <div class="form-group input-group-sm">
                       <label class="control-label">Title</label>
                       <input type="text" [(ngModel)]="title" name="name" class="form-control">
                     </div>  
                    </div>
                    
                    <div class="col-md-3">
                      <div class="form-group input-group-sm">
                       <label class="control-label">Management Level</label>
                       <input type="text" [(ngModel)]="managementLevel" name="name" class="form-control">
                     </div> 
                  </div>
                </div>

                <div class="row">   
                   <div class="col-md-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">Email</label>
                        <input type="text" [(ngModel)]="email" name="name" class="form-control">
                     </div> 
                    </div>

                    <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">Address 1</label>
                        <input type="text" [(ngModel)]="address1" name="name" class="form-control">
                     </div> 
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Address 2</label>
                            <input type="text" [(ngModel)]="address2" name="name" class="form-control">
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">City</label>
                            <input type="text" [(ngModel)]="city" name="name" class="form-control">
                        </div> 
                    </div>
                </div>

                 <div class="row">
                    <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">State/Province</label>
                        <input type="text" [(ngModel)]="state" name="name" class="form-control">
                     </div> 
                     </div>

                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">ZIP/Postal Code</label>
                            <input type="text" [(ngModel)]="zip" name="name" class="form-control">
                        </div>
                     </div>

                     <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Country</label>
                            <input type="text" [(ngModel)]="country" name="name" class="form-control">
                        </div> 
                     </div>

                    <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">Phone</label>
                        <input type="text" [(ngModel)]="phone" name="name" class="form-control">
                     </div> 
                   </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Extension</label>
                            <input type="text" [(ngModel)]="extension" name="name" class="form-control">
                        </div>
                     </div>

                     <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Supervisor</label>
                            <input type="text" [(ngModel)]="supervisor" name="name" class="form-control">
                        </div> 
                     </div>

                    <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">Fax</label>
                        <input type="text" [(ngModel)]="fax" name="name" class="form-control">
                     </div> 
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Has Gatekeeper</label>
                            <input type="text" [(ngModel)]="hasGatekeeper" name="name" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
              
                     <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Executive</label>
                            <input type="text" [(ngModel)]="executive" name="name" class="form-control">
                        </div> 
                     </div>

                    <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">RainKing Company ID</label>
                        <input type="text" [(ngModel)]="rainKingCompanyId" name="name" class="form-control">
                     </div> 
                     </div>

                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Company</label>
                            <input type="text" [(ngModel)]="company" name="name" class="form-control">
                        </div>
                     </div>

                     <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Website</label>
                            <input type="text" [(ngModel)]="website" name="name" class="form-control">
                        </div> 
                     </div>

                </div>


              <div class="row">
                     <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">Sector</label>
                        <input type="text" [(ngModel)]="sector" name="name" class="form-control">
                     </div> 
                     </div>
                   
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Industry</label>
                            <input type="text" [(ngModel)]="industry" name="name" class="form-control">
                        </div>
                     </div>
                    
                     <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">DUNS</label>
                            <input type="text" [(ngModel)]="duns" name="name" class="form-control">
                        </div> 
                     </div>

                    <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">All Employees</label>
                        <input type="text" [(ngModel)]="allEmployees" name="name" class="form-control">
                     </div> 
                   </div>
                </div>

                <div class="row">
                  <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">IT Employees</label>
                            <input type="text" [(ngModel)]="itEmployees" name="name" class="form-control">
                        </div>
                     </div>

                     <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Managers</label>
                            <input type="text" [(ngModel)]="managers" name="name" class="form-control">
                        </div> 
                     </div>

                    <div class="col-lg-3">
                      <div class="form-group input-group-sm">
                       <label class="control-label">Revenues($B)</label>
                        <input type="text" [(ngModel)]="revenue" name="name" class="form-control">
                      </div> 
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">IT Budget ($M)</label>
                            <input type="text" [(ngModel)]="itBudget" name="name" class="form-control">
                        </div>
                     </div>

                </div>


                <div class="row">
                    
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Fiscal Year End</label>
                            <input type="text" [(ngModel)]="fiscalYearEnd" name="name" class="form-control">
                        </div> 
                     </div>

                     <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">Rank: Generic IT Services</label>
                        <input type="text" [(ngModel)]="rank" name="name" class="form-control">
                     </div> 
                     </div>

                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Last Updated Date</label>
                            <input type="text" [(ngModel)]="lastUpdatedDate" name="name" class="form-control">
                        </div>
                     </div>

                     <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Notes</label>
                            <input type="text" [(ngModel)]="notes" name="name" class="form-control">
                        </div> 
                     </div>

                </div>


                <div class="row">
                    
                    <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">Tags</label>
                        <input type="text" [(ngModel)]="tags" name="name" class="form-control">
                     </div> 
                     </div>

                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">Status</label>
                            <input type="text" [(ngModel)]="status" name="name" class="form-control">
                        </div>
                     </div>

                     <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label class="control-label">LinkedIn URL</label>
                            <input type="text" [(ngModel)]="linkedInUrl" name="name" class="form-control">
                        </div> 
                     </div>

                    <div class="col-lg-3">
                     <div class="form-group input-group-sm">
                       <label class="control-label">Twitter URL</label>
                        <input type="text" [(ngModel)]="twitterUrl" name="name" class="form-control">
                     </div> 
                     </div>

                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-sm" value="Add">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
    </form>
 </div>
</div>
<!-- End - New Client to Add PopUp -->

