.row {
	margin: 0px 0px 8px 0px;	
}

.modal-header .close {
	font-size: 2em ;
}

.editNewLine {
	padding-bottom: 4%;
}

.form-inline .form-control {
	display: block !important;
	width: 100% !important;
}

.list-group-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.icon-set-reminder {
	cursor: pointer;
	top: 3px;
	font-size: 20px;
	padding: 2px;
	color: #cccccc;
}

.reminder-date-container {
	height: 35px;
	margin-top: 5px;
	width: 100%;
}

.reminder-date-container.visible .icon-set-reminder {
	color: #5e950d;
}

.reminder-title-container {
	width: 60%;
}

.reminder-date, .reminder-title-container{
	display: none !important;
}

.reminder-date-container.visible .reminder-date, .reminder-date-container.visible .reminder-title-container {
	display: inline-table !important;
}

.comments-container {
	padding: 10px 15px;
}

.modal-footer {
	padding: 5px;
}

/*.ng-dirty.ng-valid[required], .ng-dirty.ng-valid.required  {
  border-left: 5px solid #42A948; 
}*/

form.ng-touched .ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}
