<!-- Modal -->
<div class="modal-dialog modal-lg">

<!-- Modal content-->
<div class="modal-content">
  <app-notification id="edit-popup-notification"></app-notification>
  <div class="modal-header">
	<span type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal"></span>
	<h4 class="modal-title">Edit Client</h4>
  </div>

  <form class="form-inline" #editForm="ngForm" (ngSubmit)="editForm.form.valid && updateClient()" >
	<div class="modal-body" *ngIf="selectedClient">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group input-group-sm">
		   			<label class="control-label">First Name</label>
				   	<input class="form-control" required type="text" [(ngModel)]="selectedClient.firstName" name="firstName">
			 	</div> 
		 	</div>

		 	<div class="col-md-4">
			  	<div class="form-group input-group-sm">
			   		<label class="control-label">Last Name</label>
			   		<!-- <input type="text" [(ngModel)]="name" name="name" value="Kulkarni" class="form-control"> -->
			   		<input class="form-control" required type="text" [(ngModel)]="selectedClient.lastName" name="lastName">
			 	</div> 

	 		</div>

		 	<div class="col-md-4">
		  		<div class="form-group input-group-sm">
			   		<label class="control-label">Title</label>
			   		<!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
			   		<input class="form-control" type="text" [(ngModel)]="selectedClient.title" name="title" >
		 		</div> 
		 	</div>
		</div>

		<div class="row">
		   	<div class="col-md-4">
			   <div class="form-group input-group-sm">
			   <label class="control-label">Email</label>
			   <!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
			   <input class="form-control" type="text" [(ngModel)]="selectedClient.email" name="email" >
			 </div> 
			 </div>
			  <div class="col-md-4">
			  <div class="form-group input-group-sm">
			   <label class="control-label">Phone</label>
			   <!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
			   <input class="form-control" type="text" [(ngModel)]="selectedClient.phone" name="phone">
			 </div> 
			 </div>
			 <div class="col-md-4">
			 <div class="form-group input-group-sm">
			   <label class="control-label">Company</label>
				<!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
				<input class="form-control" type="text" [(ngModel)]="selectedClient.company" name="company">
			 </div> 
			 </div>
	   	</div>

		<div class="row">
			 <div class="col-lg-4">
			 <div class="form-group input-group-sm">
			   <label class="control-label">Supervisor Name</label>
				<!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
				<input class="form-control" type="text" [(ngModel)]="selectedClient.supervisor" name="supervisor">
			 </div> 
			 </div>
			 <div class="col-lg-4">
				<div class="form-group input-group-sm">
					<label class="control-label">Management Level</label>
					<!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
					<input class="form-control" type="text" [(ngModel)]="selectedClient.managementLevel" name="managementLevel">
				</div>
			 </div>
			 <div class="col-lg-4">
				<div class="form-group input-group-sm">
					<label class="control-label">eTouch SL</label>
					<!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
					<input class="form-control" type="text" [(ngModel)]="selectedClient.etouchSl" name="etouchSl">
				</div> 
			 </div>

		</div>

		<div class="row">
			<div class="col-lg-4">
			 <div class="form-group input-group-sm">
			   <label class="control-label">BDM</label>
				 <ng2-completer class="" placeholder=""  [(ngModel)]="bdmName" (selected)="onBdmSelected($event)" [dataService]="dataService" [minSearchLength]="0" name="bdm"></ng2-completer>
			 </div> 
			 </div>

		  	<div class="col-lg-4">
				<div class="form-group input-group-sm">
					<label class="control-label">Status</label>
					<select [(ngModel)]="selectedClient.status" name="status" class="selectpicker form-control">
						<option *ngFor="let stage of stages" [ngValue]="stage.key" >{{stage.value}}</option>
					</select>
				</div> 
	 		</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group reminder-date-container" [ngClass]="{ 'form-group reminder-date-container': true, 'visible': isReminderEnabled }">
					<span>
						<span [ngClass]="{ 'icon-set-reminder glyphicon': true, 'glyphicon-check': isReminderEnabled, 'glyphicon-unchecked': !isReminderEnabled, 'enabled': isReminderEnabled  }" (click)="clearReminder()"></span>
						<label class="control-label">Set Remider</label>
					</span>


					<div class="input-group input-group-sm reminder-date">
					  <input readonly="true" class="form-control" a2e-datetimepicker [date]="reminderDate" [options]="datetimepickerOptions" (onChange)="dateChange($event)" />
					  <span class="input-group-addon">
					    <span class="glyphicon glyphicon-calendar"></span>
					  </span>
					</div>

					<div class="form-group input-group-sm reminder-title-container">
					   <input class="form-control reminder-title" placeholder="Reminder text (Max length: 100 characters)" type="text" [(ngModel)]="reminderText" name="reminderText"  maxlength="100" [required]="isReminderEnabled">
					 </div> 
				</div>
			</div>
		</div>
		<div class="modal-footer">
		 	<input type="submit" class="btn btn-primary btn-sm" value="Update" [disabled]="!editForm.form.valid" > 
	    	<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
		</div>
		<client-comment [selectedClient]="selectedClient"></client-comment>
		</div>
</form>

</div>
 
</div>


<!-- End of PopUp -->

