<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Edit Client</h4>
	  </div>

	  <form class="form-inline">
		<div class="modal-body" *ngIf="selectedClient">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group input-group-sm">
			   			<label class="control-label" >First Name</label>
					   	<input class="form-control" type="text" [(ngModel)]="selectedClient.firstName" name="firstName">
				 	</div> 
			 	</div>

			 	<div class="col-md-4">
				  	<div class="form-group input-group-sm">
				   		<label class="control-label">Last Name</label>
				   		<!-- <input type="text" [(ngModel)]="name" name="name" value="Kulkarni" class="form-control"> -->
				   		<input class="form-control" type="text" [(ngModel)]="selectedClient.lastName" name="lastName">
				 	</div> 

		 		</div>

			 	<div class="col-md-4">
			  		<div class="form-group input-group-sm">
				   		<label class="control-label">Title</label>
				   		<!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
				   		<input class="form-control" type="text" [(ngModel)]="selectedClient.title" name="title" >
			 		</div> 
			 	</div>
			</div>

			<div class="row">
			   	<div class="col-md-4">
				   <div class="form-group input-group-sm">
				   <label class="control-label">Email</label>
				   <!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
				   <input class="form-control" type="text" [(ngModel)]="selectedClient.email" name="email" >
				 </div> 
				 </div>
				  <div class="col-md-4">
				  <div class="form-group input-group-sm">
				   <label class="control-label">Phone</label>
				   <!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
				   <input class="form-control" type="text" [(ngModel)]="selectedClient.phone" name="phone">
				 </div> 
				 </div>
				 <div class="col-md-4">
				 <div class="form-group input-group-sm">
				   <label class="control-label">Company</label>
					<!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
					<input class="form-control" type="text" [(ngModel)]="selectedClient.company" name="company">
				 </div> 
				 </div>
		   	</div>

			<div class="row">
				 <div class="col-lg-4">
				 <div class="form-group input-group-sm">
				   <label class="control-label">Supervisor Name</label>
					<!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
					<input class="form-control" type="text" [(ngModel)]="selectedClient.supervisor" name="supervisor">
				 </div> 
				 </div>
				 <div class="col-lg-4">
				 <div class="form-group input-group-sm">
				   <label class="control-label">Management Level</label>
				   <!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
				   <input class="form-control" type="text" [(ngModel)]="selectedClient.managementLevel" name="managementLevel">
				 </div>
				 </div>
				 <div class="col-lg-4">
				 <div class="form-group input-group-sm">
				   <label class="control-label">eTouch SL</label>
				   <!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
				   <input class="form-control" type="text" [(ngModel)]="selectedClient.etouchSl" name="etouchSl">
				 </div> 
				 </div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group reminder-date-container" [ngClass]="{ 'form-group reminder-date-container': true, 'visible': isReminderEnabled }">
						<span>
							<span [ngClass]="{ 'icon-set-reminder glyphicon': true, 'glyphicon-check': isReminderEnabled, 'glyphicon-unchecked': !isReminderEnabled, 'enabled': isReminderEnabled  }" (click)="clearReminder()"></span>
							<label class="control-label">Set Remider</label>
						</span>


						<div class="input-group input-group-sm reminder-date">
						  <input readonly="true" class="form-control" a2e-datetimepicker [date]="reminderDate" [options]="datetimepickerOptions" (onChange)="dateChange($event)" />
						  <span class="input-group-addon">
						    <span class="glyphicon glyphicon-calendar"></span>
						  </span>
						</div>

						<div class="form-group input-group-sm reminder-title-container">
						   <!-- <input type="text" [(ngModel)]="name" name="name" class="form-control"> -->
						   <input class="form-control reminder-title" placeholder="Reminder text" type="text" [(ngModel)]="reminderText" name="reminderText" width="auto">
						 </div> 
					</div>
				</div>
			</div>
			<div class="modal-footer">
			 	<input type="button" class="btn btn-primary btn-sm" value="Update" (click)="updateClient()" > 
		    	<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
			<client-comment [selectedClient]="selectedClient"></client-comment>
			<!--
			<div class="comments-container">
				<h4>Comments ({{selectedClient.comments.length}})<small> View All</small></h4>
			</div>

			<div class="row" >
				<div class="col-sm-12" style="max-height: 200px; overflow-y: auto;">
					<div class="list-group">
					  <div *ngFor="let item of selectedClient.comments" class="list-group-item active">
					    <label class="list-group-item-text">Added by: ABC | 24/05/1927</label> <span class="glyphicon glyphicon-earphone"></span>
					    <div class="list-group-item-heading">{{ item }}</div>
					  </div>
					</div>
			 	</div>
			 	<div class="col-sm-12">
			 		<div class="comment-type-container">
					   	<ul class="nav nav-pills comment-type">
						  <li role="presentation" class="active"><a><span class="glyphicon glyphicon-earphone"> Call</span></a></li>
						  <li role="presentation"><a><span class="glyphicon glyphicon-pushpin"> Meeting</span></a></li>
						  <li role="presentation"><a><span class="glyphicon glyphicon-pushpin"> Note</span></a></li>
						</ul>
						<textarea rows="4" class="form-control" [(ngModel)]="newComment" name="comment"></textarea>
						<input type="button" class="btn btn-primary btn-xs" value="Add Call Details" (click)="addComment()">
				 	</div> 
			 	</div>
			</div>

			<div class="row">
				
			</div>-->

		   	

   		</div>
	</form>
	
	</div>
	 
  </div>
</div>

<!-- End of PopUp -->

