.row {
	margin: 0px 0px 18px 0px;	
}

.editNewLine {
	padding-bottom: 4%;
}

.form-inline .form-control {
	display: block !important;
	width: 100% !important;
}

.list-group-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.icon-clear {
	top: 5px;
    left: 5px;
	font-size: 20px;
	color: #cccccc;
}

.icon-clear.enabled {
	color: #5e950d
}

.reminder-date {
	background-color: #ffffff !important;
}

.reminder-date[disabled] {
	background-color: #f8f5f0 !important;
}
