<div id="reminder-modal" class="modal fade" role="dialog">
  <app-popup [selectedClient]="selectedClient" (clientUpdated)="getReminders()"></app-popup>
</div>

<div class="well reminders-container">
  <app-loading-spinner [hide]="!isLoading"></app-loading-spinner>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">Today's Reminders</span>
    </div>
    <div class="panel-body main-body">
      <span *ngIf="!isLoading && clients && clients.length === 0">No reminders for today.</span>
      <div class="list-group reminders">
        <a (click)='openReminder($event, client)' data-toggle="modal" data-target="#reminder-modal" *ngFor="let client of clients; let i = index" class="list-group-item list-group-item-action reminder">
            <div class="reminder-item">
              <span class="badge badge-default reminder-time">{{client.reminder.date | date:'hh:mm a'}}</span> 
              <div class="pull-right reminder-contact"><small>
                <span class="title">{{ client.salutation+ " " + client.firstName + " " + client.lastName }}</span>
                <span class="title" *ngIf="client.phone">({{ client.phone }})</span></small>
              </div>
              <div class="reminder-text">
                <q><i><span>{{client.reminder.text}}</span></i></q> 
              </div>
            </div>
        </a>
      </div>
    </div>
    <div class="panel-footer">
      {{ clients.length }} reminder(s).
    </div>
</div>
