<div>
  <nav class="date-label" *ngIf="selectedDateType.type!=='Custom'">
    <ul class="pager">
      <li (click)="getPreviousData()">
        <a><span class="glyphicon glyphicon-chevron-left"></span></a>
      </li>
      <span class="date-text">{{dateText}}</span>
      <li  [ngClass]="{'disabled': disableNextButtonFlag}">
        <a (click)="getNextData()"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </li>   
    </ul>
  </nav>

 

  <div class="custom-date-filter input-group" *ngIf="selectedDateType.type==='Custom'">
    
    <div class="input-group custom-date-from" >
      <input class="form-control" a2e-datetimepicker  [date]="customFromDate" [options]="fromDateOptions" (onChange)="fromDateChanged($event)"/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    
    <div class="input-group custom-date-to" >
      <input class="form-control" a2e-datetimepicker  [date]="customToDate" [options]="toDateOptions" (onChange)="toDateChanged($event)"/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div class="input-group custom-date-submit" >
      <button type="button" class="btn btn-primary form-control" value="Submit" (click)="getCustomDateData()">Submit</button>
    </div>
  </div>
  


  <ul class="nav nav-pills pull-right">
		  <li role="presentation date-type" [ngClass]="{'active': selectedDateType.type === type.type}"  (click)="changeDateType(type)" *ngFor="let type of dateTypes">
        <a><span class="glyphicon"> {{ type.type }}</span></a>
      </li>
		</ul>
</div>